/* Based on http://www.opera.com/browser/tutorials/operashow/documentation/doc_stylesheets.dml */

@media all {
}

@media projection {
  html, body, .presentation { height: 100%; margin: 0; padding: 0; }
  div.layout { position: fixed; width: 100%; height: 100%; }
  div.slide { page-break-after: always; max-height: 100%; overflow: auto; }
  div.notes, div.handout { display: none; }
}

@media screen {
  div.layout { display: none; }
}

@media print {
  div.layout { display: none; }
  div.slide { page-break-inside: avoid; }
}
