/* Based on http://www.opera.com/browser/tutorials/operashow/documentation/doc_stylesheets.dml */

#run-presentation-link { display: none; }
#current-slide-counter { display: none; }

.layout { display: none; }

.slide { page-break-inside: avoid; }
.slide abbr { border-bottom: none; }
.slide a[href]:after { content: " [" attr(href) "] "; }
