/* Based on http://www.opera.com/browser/tutorials/operashow/documentation/doc_stylesheets.dml */

html, body, .presentation { height: 100%; margin: 0; padding: 0; }

#run-presentation-link { display: none; }

/* The "position: fixed" declaration is required here because of Opera, but
   stupid IE6 can't deal with it, so we supply a special declaration for it. */
.layout { position: fixed; _position: absolute; width: 100%; height: 100%; }

.slide { page-break-after: always; max-height: 100%; overflow: auto; }
.slide abbr { border-bottom: none; }
.slide .handout { display: none; }
