/* Based on http://www.opera.com/browser/tutorials/operashow/documentation/doc_stylesheets.dml */

#current-slide-counter { display: none; }

.layout { display: none; }

.slide.incomplete { display: none; }
