@media all {
  body {
    color: black; background-color: white;
    font-family: "Trebuchet MS", "Geneva CE", lucida, sans-serif;
  }
}

@media projection {
  body { font-size: 24pt; }

  #current-slide-counter { position: fixed; right: 2em; bottom: 1em; font-size: 50%; color: gray; }
  #goto-box { position: absolute; top: 0; left: 0; border: 1px solid black; }

  .slide { padding: 5em 2em 2em 2em; }
  .slide h1 {
    position: absolute; top: 0; left: 0; right: 0; margin: 0; padding: .25em 1em;
    border-bottom: 2pt solid #408040;
    font-size: 200%;
    color: black; background-color: #e0ffe0;
  }
}

@media screen {
  #run-presentation-link { display: block; position: fixed; top: 1em; right: 1em; }

  .slide .handout { margin: 1em; padding: .5em 1em; background-color: #e0e0e0; }
  .slide .handout:before { display: block; font-weight: bold; }
}

@media print {
  .slide .handout { margin: 1em; padding: .5em 1em; background-color: #e0e0e0; }
  .slide .handout:before { display: block; font-weight: bold; }
}
