body { font-size: 24pt; }

#current-slide-counter { position: fixed; _position: absolute; right: 2em; bottom: 1em; font-size: 50%; color: gray; }
#goto-box { position: absolute; top: 0; left: 0; border: 1px solid black; }
#navigation {
  position: absolute; left: 40%; right: 40%; bottom: .5em; height: 1.5em;
  text-align: center; font-size: 200%;
  color: silver; background-color: black;
}
#navigation a { color: silver; text-decoration: none; }
#navigation a:hover { color: white; }

.slide { padding: 5em 2em 2em 2em; }
.slide h1 {
  position: absolute; top: 0; left: 0; right: 0; _width: 100%; margin: 0; padding: .25em 1em;
  border-bottom: 2pt solid #408040;
  font-size: 200%;
  color: black; background-color: #e0ffe0;
}
