body { font-size: 24pt; }

#current-slide-counter { position: fixed; _position: absolute; right: 2em; bottom: 1em; font-size: 50%; color: gray; }
#goto-box { position: absolute; top: 0; left: 0; border: 1px solid black; }
#navigation {
  position: absolute; left: 50%; margin-left: -140px; width: 280px; bottom: 5%; height: 80px;
  background: url("navigation.png") top center;
}
#navigation a { display: block; position: absolute; }
#navigation a:focus { outline: none; }
#prev-slide-link { top: 17px; left: 30px; width: 39px; height: 46px; background-image: url("prev-slide-link.png"); }
#prev-slide-link:hover { background-image: url("prev-slide-link-hover.png"); }
#next-slide-link { top: 17px; right: 30px; width: 39px; height: 46px; background-image: url("next-slide-link.png"); }
#next-slide-link:hover { background-image: url("next-slide-link-hover.png"); }
#slide-list-link { top: 19px; left: 114px; width: 53px; height: 42px; background-image: url("slide-list-link.png"); }
#slide-list-link:hover { background-image: url("slide-list-link-hover.png"); }

.slide { padding: 5em 2em 2em 2em; }
.slide h1 {
  position: absolute; top: 0; left: 0; right: 0; _width: 100%; margin: 0; padding: .25em 1em;
  border-bottom: 2pt solid #408040;
  font-size: 200%;
  color: black; background-color: #e0ffe0;
}
