#run-presentation-link {
  display: block; position: absolute; top: 1em; right: 1em; width: 16em;
  opacity: 0.8; _filter: alpha(opacity = 80);
}
#run-presentation-link .body { font-size: 140%; }
#run-presentation-link .body a {
  display: block; min-height: 30px; _height: 30px;
  padding-left: 40px;
  text-decoration: none;
  color: #c0c0c0;
  background: url("run-presentation-link.png") center left no-repeat;
}
#run-presentation-link .body a:hover {
  color: white;
  background: url("run-presentation-link-hover.png") center left no-repeat;
}
#run-presentation-link .body a:focus { outline: none; }

.slide { padding: 0 2em 1em 1em; border-bottom: 2px dotted gray; }
/* Note: IE does not recognize :last-child, but I don't care here - it's just
   one line at the bottom of the screen. */
.slide:last-child { border-bottom: none; }
.slide .handout { margin: 1em 0; padding: .5em 1em; background-color: #e0e0e0; }
.slide .handout:before { display: block; font-weight: bold; }
